.company-img-width {
    width: 95px;
}
.course-title {
    font-size: 18px;
    font-weight: 700;
}
.course-body {
    font-size: 14px;
}
.course-price {
    font-size: 14px;
    font-weight: 700;  
}
.footer-address {
    font-size: 15px;
}