.carousel-item-height {
    height: 450px;
}
.course-img {
    width: 400px;
}
.join-us-box-height {
    height: 170px;
}
.accordian-container-width {
    width: 60%;
}
.company-img-width {
    width: 95px;
}